@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --gray_01: #a4adac;
  --gray_01: #d6dbdb;
  --gray_03: #e8edee;
  --gray_04: #f2f6f6;
  --black: #1d1d1b;
  --orange: #ff5900;
  --dark_orange: #ff5900;
  --error: #ff4026;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Onest', sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  color: #1d1d1b;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}
