@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #ff5900;
  --white: #fff;
  --black: #1d1d1b;
  --gray_01: #a4adac;
  --gray_04: #f2f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Onest', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  color: #1d1d1b;
}
